.heading {
  background-color: $black;
  width: 100%;

  h2 {
    color: $white;
    font-size: 50px;
    text-align: center;
    width: 100%;
    line-height: 1;
    padding-top: 5px;
  }
}

.event-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__left {
    width: calc(60% - 15px);

    @media (max-width: $lg-width) {
      width: calc(50% - 15px);
    }

    @media (max-width: $md-width) {
      width: 100%;
      order: 2;
    }

    p {
      margin-bottom: 15px;
    }
  }

  &__right {
    width: calc(40% - 15px);
    background-color: $grey;
    padding: 30px;

    @media (max-width: $lg-width) {
      width: calc(50% - 15px);
    }

    @media (max-width: $md-width) {
      width: calc(100% + 60px);
      margin: -50px -30px 50px -30px;
    }

    @media (max-width: $sm-width) {
      width: calc(100% + 60px);
      margin: -35px -15px 35px -15px;
      padding: 30px 15px;
    }
  }

  &__list {
    padding: 0;
    font-weight: 300;
    list-style: none;

    li {
      margin-bottom: 5px;

      &:before {
        content: "•";
        color: $orange;
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }

  &__card-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
      position: relative;

      p:last-of-type:after {
        content: '$15';
        position: absolute;
        color: $orange;
        font-size: 25px;
        font-weight: 600;
        top: -8px;
        margin-left: 5px;
      }
    }

    p {
      width: calc(100% - 85px);

      &:first-of-type {
        font-weight: 600;
        width: 85px;
      }
    }

    a {
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.stats {
  background-image: url(../images/bike-by-cycles-victoire.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  &__item {
    text-align: center;
    width: calc(25% - calc(90px / 4));

    @media (max-width: $lg-width) {
      width: calc(50% - calc(45px / 2));
    }

    @media (max-width: $sm-width) {
      width: 100%;
    }

    p {
      color: $black;
      font-weight: 400;
      font-size: 25px;

      &:first-of-type {
        font-size: 100px;
        color: $white;
        font-weight: 600;
        text-shadow: 0 0 5px rgba(0,0,0,0.25);
      }
    }
  }
}

.workshop-reviews {
  background-color: $grey;

  .wrapper {
    position: relative;
  }

  &__carousel {
    width: 100%;
    height: 300px;
    max-width: 1000px;
    margin: 0 auto;
    overflow:hidden;
    position: relative;

    &-inner {
      position: absolute;
      width: 200%;
      height: 100%;
      top: 0;
    }
  }

  &__item {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &__nav {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    cursor: pointer;
    transition: 200ms border-color ease;

    @media (max-width: $sm-width) {
      width: 35px;
      height: 35px;
      top: 105px;
    }

    &:hover {
      border-color: $orange;
    }

    &--left {
      transform: rotate(135deg);
      left: 40px;
    }

    &--right {
      transform: rotate(-45deg);
      right: 40px;
    }
  }

  &__photo {
    border-radius: 50%;
    width: 200px;
    margin: 0 auto 25px auto;
    display: block;

    @media (max-width: $sm-width) {
      width: 150px;
    }
  }

  p {
    font-size: 16px;
    font-style: italic;
    text-align: center;

    &:first-of-type {
      margin-bottom: 5px;
    }
  }
}

.register-now {
  &__button {
    padding: 15px 25px;
    color: $white;
    font-size: 25px;
    text-align: center;
    background-color: $orange;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 300;
    transition: 300ms background-color ease;

    &:hover, &:active, &:focus {
      background-color: $black;
    }
  }
}

.map {
  height: 400px;
  width: 100%;
}
