.footer {
  font-size: 16px;

  .wrapper {
    align-items: center;
  }

  &__left {
    @media (max-width: $sm-width) {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $sm-width) {
      width: 100%;
      justify-content: center;
    }
  }

  &__social-icon {
    background-color: $orange;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 20px;
    transition: 200ms background-color ease;

    @media (max-width: $sm-width) {
      margin: 0 10px;
    }

    &:hover {
      background-color: $black;
    }

    .fa {
      color: $white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
