.header {
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  &__left {
    a {
      display: flex;
    	align-items: center;
    }

     img {
       max-width: 150px;
     }
  }

  &__right {
  	display: flex;
  	align-items: center;
    position: relative;

  	@media (max-width: $md-width) {
  		justify-content: flex-end;
  		top: 50%;
  		right: 0;
      width: 100%;
  	}
  }

  &__nav {
    background-color: $white;

  	@media (min-width: $md-width-plus) {
  		display: block!important;
  	}

  	@media (max-width: $md-width) {
  		width: 100%;
      margin-top: 20px;
  		display: none;
  	}

  	ul {
  		list-style-type: none;
  		margin: 0;
  		padding: 0;
      font-weight: 400;

  		li {
  			display: inline-block;
  			margin-left: 35px;
        font-size: 20px;
        text-align: right;

        &:last-of-type {
          margin-left: 0;
        }

        @media (max-width: $lg-width) {
          margin-left: 25px;
        }

        @media (max-width: $md-width) {
  				display: block;
          margin: 0;
          margin-bottom: 10px;

          &:last-of-type {
            margin-top: 20px;
            margin-bottom: 0;
          }
  			}

        .header__nav-button {
          display: none;

          @media (max-width: $md-width) {
            display: inline-block;
            background-color: $orange;
            padding: 15px 25px;
            font-size: 25px;
            font-weight: 300;
            color: $white;
            text-transform: uppercase;
            transition: 200ms background-color ease;

            &:hover, &:active, &:focus {
              background-color: $black;
            }
          }
        }

  			a:not(.header__nav-button) {
  				display: block;
  				color: $black;

          @media (max-width: $md-width) {
    				padding: 10px 35px;
            margin: 0 -30px;
    			}

  				&.active, &:active {
  					color: $orange;

            &:hover, &:focus {
              color: $orange;
            }
  				}

  				&:hover, &:focus {
            color: $orange;

            @media (max-width: $md-width) {
              color: $black;
              background-color: $grey;
            }
  				}

          &.header__nav-button {
            display: none;

          	@media (max-width: $md-width) {
              display: block;
            }
          }
  			}
  		}
  	}
  }

  &__hamburger {
  	display: none;

  	@media (max-width: $md-width) {
  		display: flex;
  		align-items: center;
  		flex-wrap: wrap;
  		width: 50px;
  		height: 50px;
  		cursor: pointer;
      position: absolute;
      top: -55px;
  	}

  	&-bar {
  		height: 5px;
  		width: 100%;
  		background-color: $black;
  		transition: 0.3s transform;
  	}

  	&--open {
      right: 0;

      .header__hamburger {
        &-bar {
    			&--top {
    				transform: rotate(45deg);
    				position: relative;
    				right: 0;
    				top: 12.5px;
    			}

    			&--middle {
    				display: none;
    			}

    			&--bottom {
    				transform: rotate(-45deg);
    				position: relative;
    				right: 0;
    				top: -12.5px;
    			}
    		}
      }
  	}
  }
}
