.header {
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  &__left {
    a {
      display: flex;
    	align-items: center;
    }

     img {
       max-width: 150px;
     }
  }

  &__right {
  	display: flex;
  	align-items: center;
    position: relative;
  }

  &__nav {
    background-color: $white;

  	@media (min-width: $md-width-plus) {
  		display: block!important;
  	}

  	@media (max-width: $md-width) {
  		width: 100%;
  		display: none;
  	}

  	ul {
  		list-style-type: none;
  		margin: 0;
  		padding: 0;
      font-weight: 400;

  		li {
  			display: inline-block;
  			margin-left: 35px;

        &:last-of-type {
          margin-left: 0;
        }

  			a {
  				display: block;
  				color: $black;
  				text-align: center;
  				width: 100%;
          font-size: 20px;

  				&.active, &:active {
  					color: $orange;

            &:hover, &:focus {
              color: $orange;
            }
  				}

  				&:hover, &:focus {
            color: $orange;

            @media (max-width: $md-width) {
              color: $black;
              background-color: $grey;
            }
  				}

          &.header__nav-button {
            display: none;

          	@media (max-width: $md-width) {
              display: block;
            }
          }
  			}
  		}
  	}
  }

  &__hamburger {
  	display: none;

  	@media (max-width: $md-width) {
  		display: flex;
  		align-items: center;
  		flex-wrap: wrap;
  		width: 50px;
  		height: 50px;
  		cursor: pointer;
  	}

  	&-bar {
  		height: 5px;
  		width: 100%;
  		background-color: $black;
  		transition: 0.3s transform;
  	}

  	&--open {
      position: absolute;
      top: 0;
      right: 0;

      .header__hamburger {
        &-bar {
    			&--top {
    				transform: rotate(45deg);
    				position: relative;
    				right: 0;
    				top: 12.5px;
    			}

    			&--middle {
    				display: none;
    			}

    			&--bottom {
    				transform: rotate(-45deg);
    				position: relative;
    				right: 0;
    				top: -12.5px;
    			}
    		}
      }
  	}
  }
}
