@import 'normalize';
@import 'variables';
@import 'typography';
@import 'hero';
@import 'header';
@import 'content';
@import 'footer';

/*
====================================
Default Styling
====================================
*/

html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: $black;
	line-height: 1.25;
}

img {
	width: 100%;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 50px 30px;

	@media (max-width: $sm-width) {
		padding: 35px 15px;
	}

	&--small {
		padding: 20px 30px;

		@media (max-width: $sm-width) {
			padding: 15px;
		}
	}

	&--large {
		padding: 75px 30px;

		@media (max-width: $sm-width) {
			padding: 50px 15px;
		}
	}
}

.accessible {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	border: 0 none !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px;
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}
}
